#titulo-descricao {
    margin-top: 20px;
  }
  
  .fotos-depoimento, #depoimento-banner {
    margin-top: 30px;
  }
  
  .texto {
    margin-bottom: 20px;
  }
  
  .texto {
    margin-left: 10px;
  }
  
  .texto {
    margin-right: 10px;
  }
  
  h1 {
    display: inline-block;
    vertical-align: top;
    width: 64%;
  }

  body {
    background-color: #DDDDDD;
    font-family: "Montserrat", sans-serif;
  }
  @media (max-width: 767.98px) {
    body {
      width: 90%;
      padding: 15px 0;
      flex-wrap: wrap;
    }
  }
  
  main {
    background-color: #DDDDDD;
  }
  
  #depoimento-banner {
    display: inline-block;
    width: 100%;
    height: 630px;
    border-radius: 17px;
  }
  
  #titulo-banner {
    font-family: "Italianno", cursive;
    position: absolute;
    display: inline-block;
    margin-left: 40px;
    margin-top: 80px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    font-size: 3.125rem;
  }
  
  .depoimento-apresentacao {
    background: linear-gradient(#DDDDDD, #888888);
    margin-top: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 35px;
    padding-right: 25px;
  }
  
  #titulo-descricao {
    font-family: "New Rocker", cursive;
    margin-bottom: 80px;
    margin-left: 500px;
    margin-right: 500px;
    padding: 20px;
    text-align: center;
    border: 2px solid rgba(124, 10, 39, 0.925);
    border-radius: 10px;
    box-shadow: 10px 10px 10px #373737;
  }
  
  #texto-ap-depoimento {
    text-align: center;
    margin-left: 33px;
    margin-right: 33px;
    font-size: 1.25rem;
  }
  
  .principal-depoimento {
    background: linear-gradient(#DDDDDD, #888888);
  }
  @media (min-width: 768px) and (max-width: 1199.98px) {
    .principal-depoimento {
      width: 90%;
      padding: 20px 0;
      margin-left: 5%;
    }
  }
  
  ul {
    display: inline-block;
  }
  
  .depoimento li {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin: 25px;
    margin-top: 100px;
    margin-left: 7%;
    margin-right: 4%;
    border: solid 2px rgba(124, 10, 39, 0.925);
    border-radius: 15px;
    background-color: #CCCCCC;
    box-shadow: 10px 10px 10px #000000;
    font-size: 1.25rem;
  }
  @media (min-width: 768px) and (max-width: 1199.98px) {
    .depoimento li {
      width: 90%;
      padding: 20px 0;
      margin-left: 5%;
    }
  }
  
  .depoimento li:hover {
    transform: scale(1.1);
    border-color: #C78C19;
  }
  
  .depoimento li:hover h2 {
    font-size: 2rem;
  }
  
  .depoimento li:active {
    border-color: #088C19;
  }
  
  h3 {
    font-family: "New Rocker", cursive;
    margin-top: 35px;
    text-align: center;
    font-size: 1.375rem;
  }
  
  .texto-depoimento {
    font-family: "Italianno", cursive;
    text-align: center;
    margin-top: 50px;
    font-size: 1.75rem;
  }
  
  .fotos-depoimento {
    width: 286px;
    height: 400px;
    margin-left: 4px;
    margin-right: 4px;
    border-radius: 35px;
    filter: grayscale(100%);
    transition: 3s all;
  }
  
  .fotos-depoimento:hover {
    transform: scale(1.1);
    filter: grayscale(0%);
  }
  
  .precos {
    text-align: center;
    font-weight: bold;
  }
  
  /*# sourceMappingURL=servicos.css.map */